{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ greeting }} World</h1>
                <p>Your name is {{ name }}</p>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <a href="{{ path('article_show', {slug : 'why-asteroind-taste-like-backon'}) }}">Link to the article</a>
            </div>
        </div>
    </div>
{% endblock %}
